bin/
obj/
notes/
Logs/
pockitbook.db

src/bin/
src/obj/

tests/PockitBook.UnitTests/bin/
tests/PockitBook.UnitTests/obj/
tests/PockitBook.UnitTests/Logs/

tests/PockitBook.IntegrationTests/bin/
tests/PockitBook.IntegrationTests/obj/
tests/PockitBook.IntegrationTests/Logs/
